<!DOCTYPE html>
<html>
<head>
  <title>Proj3</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class ="container">
      <div class="row">
    <div class="col-md-9"><%= yield %></div>
    <div class="col-md-3">
      <h2>About Us</h2>
      <p>Let's write your own story!</p>        
      </div>
    </div>
</div>
</body>
</html>
